# ===== AUTH COOKIES =====
# Nomes dos cookies e chaves usados pelo sistema de autenticação.
# Altere os valores se quiser usar nomes diferentes nos cookies do navegador.
VITE_AUTH_TOKEN_KEY=sb_token_example
VITE_AUTH_LOCK_KEY=sb_auth_lock_example
VITE_SESSION_ID_KEY=sb_session_id-example
VITE_AUTH_CHANNEL_NAME=sb_auth_channel_example
